{
  "extends": "eslint:recommended",
  
  "rules": {
    "strict": [0, "global"],
    "global-strict": 0,
    "indent": [1, 2, {"VariableDeclarator": 2}],
    "no-unused-vars": 0,
    "new-cap": 0,
    "quotes": [2, "backtick"],
    "no-console": 1,
    "no-var": 2,
    "object-shorthand": 2
  },
  
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  
  "ecmaFeatures": {
    "modules": true
  },
  
  "globals": {
    "$": true
  }
}