.datepickr-wrapper {
    display: inline-block;
    position: relative;
}

.datepickr-calendar {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;

  box-shadow: 2px 2px 10px 2px #888888;
  background: #fff;
}

.open .datepickr-calendar {
  display: block;
  text-align: center;
}

.datepickr-current-month {
  display: block;
}

.datepickr-prev-month, .datepickr-next-month {
  padding: 0 5px;
}

.datepickr-prev-month, .datepickr-next-month, .datepickr-day {
  cursor: pointer;
}

.datepickr-calendar .datepickr-prev-month {
  float: left;
}

.datepickr-calendar .datepickr-next-month {
  float: right;
}

.datepickr-calendar th, .datepickr-calendar td {
    width: 30px;
    text-align: center;
    padding: 5px 0;
    margin: 0;
    line-height: normal;
}

.datepickr-calendar .selected .datepickr-day {
  font-weight: bold;
}
