.calander {
  position: absolute;
  background: #fff;
  border: 1px solid #c0c0c0;
  text-align: center;
}
.calander th, .calander td {
  width: 14%;
}
.calander td {
  cursor: pointer;
}
.calander .selected {
  font-weight: bold;
}