.calander {
  position: absolute;
  background: #fff;
  border: 1px solid #c0c0c0;
  text-align: center;

  select {
    margin: 3px 5px;
    height: auto;
    width: auto;
    padding: 0;
    background: none;
    border: 1px solid #c0c0c0;
    color: #000;
  }

  table, th, td {
    padding: 0;
    margin: 0;
    line-height: normal;
    border: 0;
    background: none;
  }

  th, td {
    width: 14%;
    padding: 4px;
    text-align: center;
  }

  td {
    cursor: pointer;
  }
  
  .selected {
    font-weight: bold;
  }
}